body{
    background-color: aqua;
}
#maincontent{
height: 500px;
}
#inputtype{
    margin: 10px 0px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
#inputtype *{
    margin-top: 10px;
}
.display{
    width: 30em;
    display:flex ;
    align-items: center;
    justify-content: center;
}
.display ul{
    width: 22em;
}
.display ul li{
padding: 10px 0px;
}
